html, body {
  margin:0;
  padding:0;
}

html {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  background:#f7d374;
}

h1 {
  font-size:3rem;
}

h2 {
  margin-bottom:2rem;
}

button {
  color:white;
  font-size:1.3rem;
  margin:30px auto;
  background:#6a9bfc;
  border:0;
  border-radius:4px;
  height:30px;
  width:8rem;
  display:block;
  text-shadow: 1px 2px 1px black;
  box-shadow: 1px 2px 1px 1px #222;
}

select {
  margin-top:1.3rem;
  width:5rem;
}

label {
  display:block;
}

.choices {
  width:40%;
  margin:15px auto;
  color:black;
  text-align:left;
}

progress {
  height:3rem;

}

#question {
  border:1px solid black;
  width:60%;
  margin:auto;
  background:white;
}

#quiz-status {
  margin:15px auto;
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:60%;
}

#quiz-status div {
  display:inline;
}

#answer-page p {
  font-size:1.2rem;
}

#answer-page img {
  margin-bottom:1.5rem;
}

#results-page ol {
  margin:auto;
  list-style-type: none;
  border: 1px solid black;
  background:white;
  padding:2rem 3rem;
  width:50%;
  text-align:left;
}

.question {
  font-size:1.2em;
}

#results-page .outcome {
  padding-left:1.75rem;
}

#results-string {
  font-size:2rem;
}

.correct {
  color:green;
}

.wrong {
  color:red;
}
